template(name="navbar")
  .ui.fixed.transparent.main.menu
    .header.item 
      i.large.book.icon
      | Book Trading Club
    a.item(class=isActiveRoute('info') href="/info")
      i.large.info.icon
    .right.menu
      a.item(class=isActiveRoute('home') href="/")
        i.large.list.icon
      if currentUser
        a.item(class=isActiveRoute('myBooks') href="/my-books")
          i.large.icons
            i.user.icon
            i.corner.book.icon
        a.item(class=isActiveRoute('settings') href="/settings")
          i.large.settings.icon
      a.item(class=isActiveRoute('help') href="/help")
        i.large.help.icon
      +loginButtons(allign="right")
          
